<a href="../shows/add">Add a new show</a>
{{#each shows}}
    <div class="show col-md-4">
        <h1><a href="shows/{{slug}}">{{show_name}}</a></h1>
        <h2>genre:{{genre}}</h2>
        <h3>released in: {{year_released}}</h3>
        {{#if imageFilename}}
        <img src="/uploads/{{imageFilename}}">
        {{/if}}
   </div>   
{{/each}}